{
    "extends": [
        "eslint:recommended",
        "plugin:react-native/all",
        "plugin:promise/recommended"
    ],
    "parser": "babel-eslint",
    "globals": {
        "fetch": false
    },
    "env": {
        "browser": false,
        "node": true,
        "es6": true,
        "mocha": true,
        "jest/globals": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true
    },
    "plugins": [
        "react",
        "react-native",
        "promise",
        "jest"
    ],
    "rules": {
        "no-console": 0,
        "no-unused-vars": 0
    }
}
