[user]
	name = nielsmadan
	email = nielsmadan@gmail.com
[alias]
    ci = commit
    co = checkout
    st = status
	vdiff = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	editor = gvim
[color]
	ui = true
