[alias]
    ca = commit -am
    ci = commit
    co = checkout
    st = status

    po = push origin
    pom = push origin master

	d = difftool
    outgoing = log origin..master
[color]
	ui = true
[core]
	editor = "gvim -f"
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[merge]
    defaultToUpstream = true
[user]
	name = nielsmadan
	email = nielsmadan@gmail.com
